{% extends "layout.twig" %}

{% block page %}
   <div class="home-main">
     <div  class="row">
       <div class="small-12 medium-12 large-12">
          <ul class="widgeticons">
                 <li><a href="form.html"><i class="ion-android-locate"></a></i></li>
                 <li><a href="#"><i class="ion-email"></a></i></li>
                 <li><a href="#"><i class="ion-thumbsup"></a></i></li>
                 <li><a href="#"><i class="ion-easel"></a></i></li>
                 <li><a href="#"><i class="ion-android-clipboard"></a></i></li>
                 <li><a href="#"><i class="ion-image"></a></i></li>
                 <li><a href="#"><i class="ion-android-car"></a></i></li>
                 <li><a href="#"><i class="ion-alert-circled"></a></i></li>
                 <li><a href="#"><i class="ion-key"></a></i></li>
                 <li><a href="#"><i class="ion-android-settings"></a></i></li>
                 <li><a href="#"><i class="ion-pricetag"></a></i></li>
                 <li><a href="#"><i class="ion-android-contacts"></a></i></li>
                 <li><a href="#"><i class="ion-android-document"></a></i></li>
                 <li><a href="#"><i class="ion-log-out"></a></i></li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}
