<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo App</title>
      <link rel="stylesheet" href="assets/css/main.css" />
      <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>
  <body>
   <div id="wrap">
    <header class="row">
      <div class="large-12 medium-12 small-12 columns">
          <h1>Demo App</h1>
          <h3 class="show-for-medium-up"><small>Demo app for testing</small></h3>
      </div>
    </header>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
        <section class="top-bar-section">
            <ul>
              <li><a href="/">Home</a></li>
              <li class="has-dropdown">
                <a href="#">Supervisor</a>
                <ul class="dropdown">
                  <li><a href="index-posts.html">Show Vehicles</a></li>
                  <li><a href="#">Messages</a></li>
                  <li><a href="#">Vehicle Damages Approval</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Test Schedule Admin</a>
                <ul class="dropdown">
                  <li><a href="#">Event Management</a></li>
                  <li><a href="#">Test Schedule Overview</a></li>
                  <li><a href="#">Test Cycle Log Definition</a></li>
                  <li><a href="#">Vehicle Book Documents</a></li>
                  <li><a href="#">Vehicle Information</a></li>
                  <li><a href="#">Run Sheet</a></li>
                  <li><a href="#">Disable Vehicle Events</a></li>
                  <li class="has-dropdown"><a href="#">Parameters</a>
                    <ul class="dropdown">
                      <li><a href="#">Configure Parameters</a></li>
                      <li><a href="#">Map Test Schedule Parameters</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Security</a>
                <ul class="dropdown">
                  <li><a href="#">User Roles</a></li>
                  <li><a href="#">User Management</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Data Admin</a>
                <ul class="dropdown">
                  <li><a href="#">Code Master</a></li>
                </ul>
              </li>
              <li><a href="/">Logout</a></li>
            </ul>
          </section>
        </nav>
        {% block page %}{% endblock %}
     <footer>
     <div class="row">
      <div class="large-6 columns">
        <ul>
        <li>© 2004 - 2015 Demo Company, All Rights Reserved.</li>
        </ul>
      </div>
     </div>
     <div class="row">
      <div class="large-12 columns clearfix">
        <p class="right text-right"><a href="terms-and-conditions">Privacy Policy</a></p>
      </div>
     </div>
    </footer>
   </div>
   <script src="assets/js/main.js"></script>
  </body>
</html>
