div, section, span {
    //outline: 1px dashed red;
}

// Wrapper/Layout
#wrap {
    background-color: $wrap-bg-color;
}

#wrap > header {
    background-color: $header-bg-color; //#009688; //#fdc162;
    color: $header-color;
    padding: 0;
    margin: 0;
}

#wrap > header h1,
#wrap > header h3 {
    color: $header-color;
    text-shadow: 1px 2px 0.1em black;//, 0 0 1em blue, 0 0 0.2em blue;
}

#wrap > header h1 {
    font-size: 2rem;
}

#wrap > header h1 a,
#wrap > header h1 a:link,
#wrap > header h1 a:visited {
    color: $header-color;
}

#wrap > header h3 small {
    font-size: 55%;
}

#wrap > header h3 {
    letter-spacing: 0.05em;
}

#wrap > header h1 small,
#wrap > header h3 small {
    color: $header-color;
    text-shadow: 1px 2px 0.1em black;//, 0 0 1em blue, 0 0 0.2em blue;
}

#wrap > footer {
    background-color: rgba($footer-bg-color, 0.7);
    color: $footer-text-color;
}

#wrap > footer a:link,
#wrap > footer a:visited,
#wrap > footer a:active {
    color: $footer-link-color;
}

#wrap > footer a:hover {
    color: $footer-link-hover-color;
}

#wrap > footer ul {
    list-style: none;
}

#wrap > footer ul,
#wrap > footer p {
    margin: 10px 5px;
}

.top-bar {
    height: 3.1rem !important;
}

.top-bar-section ul li > a:hover,
.top-bar-section ul li > a:active,
.top-bar-section ul li > a:focus {
    box-shadow: 0.2em 0.2em 0.2em rgba($topbar-bg-color, 0.4), -0.06em -0.09em 0.011em rgba($topbar-bg-color, 0.4);
}

// Home Page
div.home-main {
    background-color: $home-bg-color;
}

.home-main a:hover,
#wrap footer a:hover {
    text-shadow: 0.0em 0.01em 0.2em rgba($anchor-font-color, 0.4);//, 0 0 1em blue, 0 0 0.2em blue;
    text-decoration: underline;
}

div.main > .row {
    background-color: $content-bg-color;
    color: $content-text-color;
}

@media #{$medium-up} {
    #wrap {
        margin: 15px auto;
        max-width: 1026px;
        position: relative;
    }

    #wrap:before,
    #wrap:after {
      content: "";
      position: absolute;
      z-index: -2;
      bottom: 15px;
      left: 10px;
      width: 50%;
      height: 10px;
      max-width: 300px;
      box-shadow: 0 15px 10px rgba(0, 0, 0, .6);
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      transform: rotate(-3deg);
    }

    #wrap:after {
      right: 10px;
      left: auto;
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      transform: rotate(3deg);
    }

    #wrap .row {
        max-width: 64.2rem;
    }

    #wrap > header {
        height: 6em;
        padding-right: 10px;
        background-repeat: no-repeat;
        background-position: center right;
        background-origin: content-box;
    }
}

@media #{$small-up} and (orientation: portrait) {
    #wrap > header h1 small {
      display: none;
    }
}

.widgeticons {
  list-style: none;
}

ul.widgeticons li {
  float: left;
}

ul.widgeticons li a {
  display: block;
}

@media #{$small-up} {
  ul.widgeticons li i {
    font-size: 200%;
    padding: 0 10px;
  }
}

@media #{$medium}  {
  ul.widgeticons li i {
    font-size: 300%;
    padding: 0 30px;
  }
}
@media #{$large} {
  ul.widgeticons li i {
    font-size: 600%;
    padding: 0 40px;
  }
}

ul.widgeticons li a {
  margin-left: 20px;
}
ul.widgeticons li a:hover {
  background-color: $dash-anchor-bg-color;
  color: $dash-anchor-color;
  text-decoration: none;
}

form {
  padding: 10px;
}
