$wrap-bg-color: $color-white;
$text-color: $color-white;

$button-bg-color : $color-teal-dark;

$header-bg-color: $color-teal-dark;
$header-color: $text-color;

$topbar-bg-color: $color-turquoise;
$topbar-dropdown-bg: $color-turquoise;
$topbar-dropdown-link-color: $text-color;
$topbar-dropdown-link-bg: $color-turquoise;
$topbar-dropdown-link-weight: normal;
$topbar-dropdown-link-bg-hover:$text-color;
$topbar-link-bg-hover: $text-color;

$topbar-link-color: $text-color;
$topbar-link-color-hover: $color-turquoise;
$topbar-link-color-active: $color-turquoise;
$topbar-link-color-active-hover: $color-turquoise;

$home-bg-color: $color-teal-dark;

$home-widget-header-bg-color: $color-turquoise;
$home-widget-header-color: white;
$home-widget-bg-color: white;

$orbit-caption-bg: rgba($color-turquoise, 0.8);
$anchor-font-color :$color-white;
$body-font-color : $color-white;

$footer-bg-color: $color-turquoise;
$footer-text-color : white;
$footer-link-color: $home-bg-color;
$footer-link-hover-color: $color-white;

$content-bg-color: $color-teal-dark;
$content-text-color: $color-white;

$sidebar-bg-color: $content-bg-color;
$sidebar-color: $color-white;
$header-font-color : white;

$posts-bg-color: $color-clouds;
$posts-color: $color-white;

$tag-bg-color: $color-turquoise;
$tag-link-color: $text-color;
$tag-shadow-color: #004977;
$tag-link-hover-color: #555;
$topbar-link-padding: 0.8rem;

$dash-anchor-bg-color: $color-white;
$dash-anchor-color:$color-turquoise;
