$wrap-bg-color: $color-clouds;
$text-color: $color-white;

$button-bg-color : $color-brown;

$header-bg-color: $color-brown-dark;
$header-color: $text-color;

$topbar-bg-color: $color-brown;
$topbar-dropdown-bg: $color-brown;
$topbar-dropdown-link-color: $text-color;
$topbar-dropdown-link-bg: $color-brown;
$topbar-dropdown-link-weight: normal;
$topbar-dropdown-link-bg-hover:$text-color;
$topbar-link-bg-hover: $text-color;

$topbar-link-color: $text-color;
$topbar-link-color-hover: $color-brown-dark;
$topbar-link-color-active: $color-brown-dark;
$topbar-link-color-active-hover: $color-brown-dark;

$topbar-link-bg-active: $text-color;
$topbar-link-bg-active-hover: $text-color;

$home-bg-color: rgb(216, 207, 203);

$home-widget-header-bg-color: rgba(234, 234, 234, 1.0);
$home-widget-header-color: $color-brown-dark;
$home-widget-bg-color: white;

$orbit-caption-bg: rgba($color-brown, 0.8);
$orbit-timer-show-progress-bar: false;
$anchor-font-color : $color-brown;
$body-font-color : $color-brown;

$footer-bg-color: $color-brown;
$footer-text-color : white;
$footer-link-color: $home-bg-color;
$footer-link-hover-color: $home-bg-color;

$content-bg-color: rgb(216, 207, 203);
$content-text-color: $color-brown;

$sidebar-bg-color: $content-bg-color;
$sidebar-color: $color-brown;
$header-font-color : $color-brown;

$posts-bg-color: white;
$posts-color: $color-brown;

$tag-bg-color: $color-brown;
$tag-link-color: $text-color;
$tag-shadow-color: #004977;
$tag-link-hover-color: #555;
$topbar-link-padding: 0.8rem;

$dash-anchor-bg-color: $color-brown-dark;
$dash-anchor-color:$home-bg-color;
